.create-employee-container {
  padding: 45px;
}

.title {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .employee-container,
  .address {
    display: flex;
    flex-direction: column;
    margin-top: 8px;

    .input {
      margin-bottom: 20px;
      width: 100%;
    }

    .create-employee-label {
      margin-bottom: 5px;
    }
  }

  .address {
    max-width: 450px;
    min-width: 350px;
  }

  .department {
    margin-top: 16px;
    max-width: 450px;
    min-width: 350px;
  }

  .save-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    max-width: 350px;
    background-color: rgb(90, 110, 17);
    border: 1px solid rgb(90, 110, 17);
    border-radius: 8px;
    min-width: 350px;
    height: 30px;
    color: white;
    font-weight: bold;
    box-shadow: 1px 2px 5px 0 rgba(90, 110, 17, 0.71);
    cursor: pointer;
  }
}
