.main-nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-right: 0.5rem;
  padding: 16px;

  &:hover {
    text-decoration: underline;
  }

  .main-nav-item-text {
    font-size: 0.9rem;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
  }
}
