.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 1px solid #ebe2e2;

  .main-nav-home-container {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #1a1a19;

    .main-nav-logo {
      display: flex;
      align-items: center;

      .main-nav-logo-image {
        max-width: 100%;
        width: 95px;
        height: 100%;
      }
    }
  }

  .nav-link-container {
    display: flex;
  }
}
